{% load static %}
{% load turnir_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'turnir/css/styles.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'turnir/images/main.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr><td valign=top>
        {% block mainmenu %}
        <div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

        {% for m in menu %}
            {% if not forloop.last %}
        <li>
                {% else %}<li class="last">
            {% endif %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
        </li>
        {% endfor %}
            </ul>
        </div>
        {% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
    <!-- Sidebar зліва -->
        <td valign="top" class="left-chapters">
        <ul id="leftchapters">
            {% if cat_selected == 0 %}
            <li class="selected">Всі турніри</li>
            {% else %}
            <li><a href="{% url "home" %}">Всі турніри</a></li>
            {% endif %}

            {% show_sports cat_selected %}

            <li class="share">
            <p>Facebook</p>
            <a class="share-yt" href='https://www.facebook.com/p/%D0%9A%D0%BE%D1%81%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0-%D0%94%D0%AE%D0%A1%D0%A8-%D0%93%D1%96%D1%80%D1%81%D1%8C%D0%BA%D0%B5-%D0%BE%D1%80%D0%BB%D1%8F%D1%82%D0%BA%D0%BE-100063969366533/?paipv=0&eav=Afb5ltB3XfZ-q87xB2-Sd1dNXvzcPbRDFLMD89jdUFwvG_W6bW4sfxzY_DKusyOGu2E&_rdr' target="_blank" rel="nofollow"></a>
            </li>

        </ul>
    </td>
    <!-- Кінець Sidebar'а -->

    <td valign="top" class="content">
        <!-- breadcrumbs -->
        {% block breadcrumbs %}
        {% endblock %}
    
    <!-- Блок контента -->
        <div class="content-text">
    {% block content %}
    {% endblock %}
        </div>
    <!-- Кінець блока контента -->

    <!-- Блок пагінації -->
    {% block navigation %}
    {% endblock %}
    <!-- Кінець блока пагінації -->

    
    </td></tr></table>
    </td></tr>
    <!-- Footer -->
    <tr><td valign=top>
        <div id="footer">
            <p>&copy; Copyrigt. </p>
        </div>
    </td></tr></table>
    <!-- Конец footer'а и страницы -->
</body>
