{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div> 
    {% for f  in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button type="submit">Відправити</button></p>
</form>
{% endblock content %}

