{% extends "base.html" %}

{% block content %}

    <ul class="list-articles">
        {% for turnir in data_db %}
            <li>
            <div class="article-panel">
                <p class="first">{{turnir.sport.name}}</p>
                <p class="last">Старт турніру {{turnir.start_date|date:"d-m-Y"}}</p>
            </div>
            <h2>{{ turnir.name }}</h2>
        {{turnir.sport.name}}
        ({{turnir.tournament.name}})
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ turnir.get_absolute_url }}">Детально про турнір</a></p>

        </li>
        {% endfor %}
    </ul>
{% endblock  %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
            <li class="page-num">
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}
        
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">
            {{ p }}
        </li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}