{% if teams %}
    <p>Команди:</p>
    <ul class="tags-list">
        {% for team in teams %}
            <li><a href="{{ team.get_absolute_url }}">{{ team.name }} ({{ team.city }})</a></li>
        {% endfor %}
    </ul>
{% endif %}