{% extends "base.html" %}

{% block content %}
<a href="{% url "update_player" player.pk %}">Редагувати</a>
<h1>{{player.first_name}} {{player.last_name}}</h1>
<ul class="tags-list">
    <h4>Грає  в командах:</h4>
    {% for team in teams %}
    <li><a href="{{ team.get_absolute_url }}">{{ team.name }} ({{ team.city }})</a></li>
    {% endfor %}
    <h4>Статистика:</h4>
</ul>

{% endblock content %}