{% extends "base.html" %}

{% block content %}
<a href="{% url "update_comand" team.slug %}">Редагувати</a>
<h1>{{team.name}} ({{team.city}})</h1>
<ul class="tags-list">
    <h4>Склад команди:</h4>
    {% for player in team.players.all %}
    <li><a href="{{ player.get_absolute_url }}">{{player.first_name}} {{player.last_name}}</a></li>
    {% endfor %}
</ul>
<ul class="tags-list">
    <h4>Бере участь в турнірах:</h4>
    {% for tournament in tournaments %}
    <li><a href="{{ tournament.get_absolute_url }}">{{tournament.name}}</a></li>
    {% endfor %}
</ul>
{% endblock content %}

