{% extends "base.html" %}

{% block content %}
<a href="{% url "update_turnir" turnir.slug %}">Редагувати</a>
<h1>{{turnir.name}}</h1>
<h4>Регламент</h4>
{% autoescape off %}
{{turnir.reglament|linebreaks}}
{% endautoescape %}
<h4>Час проведення</h4>
    {% if turnir.end_date %}
    <p>З {{turnir.start_date|date:"d-m-Y"}} по {{turnir.end_date|date:"d-m-Y"}}</p>
    {% else %}
    <p>Початок турніру {{turnir.start_date|date:"d-m-Y"}}</p>
    {% endif %}
<h4>Вид спорту:</h4> <span>{{ turnir.sport.name }}</span>
<h4>Тип турніру:</h4> {{turnir.tournament.name}}
{% with turnir.teams.all as teams %}
{% if teams %}
<h3>Команди учасники</h3>
<ul class="tags-list">
    {% for team in teams %}
    <li><a href="{{ team.get_absolute_url }}">{{ team.name }} ({{ team.city }})</a></li>
    {% endfor %}
</ul> 
{% endif %}
{% endwith %}
{% endblock content %}

